@import '_content/Dialog.Blazor/Dialog.Blazor.bundle.scp.css';
@import '_content/ExceptionHandler.Blazor/ExceptionHandler.Blazor.bundle.scp.css';
@import '_content/Toast.Blazor/Toast.Blazor.bundle.scp.css';

/* _content/BlazingPizza.Razor.Views/Components/AddressEditor.razor.rz.scp.css */
.form-field[b-moyxbb5yf4] {
    display: flex;
    margin: 0.5rem;
}

.form-field > label[b-moyxbb5yf4] {
    width: 8rem;
}
.form-field > div[b-moyxbb5yf4] {
    flex-grow: 1;
    
}

    .form-field[b-moyxbb5yf4]  input {
        width: 100%;
    }

[b-moyxbb5yf4] .valid.modified:not([type=checkbox]){
    outline: 1px solid #26b050;
}

[b-moyxbb5yf4] .invalid{
    outline: 1px solid red;
}

[b-moyxbb5yf4] .validation-message{
    color:red;
}
/* _content/BlazingPizza.Razor.Views/Components/ConfiguredPizzaItem.razor.rz.scp.css */
.cart-item[b-lzsm48tmjj] {
    background-color: #333333;
    padding: 0.8rem 1.2rem;
    border-radius: 6px;
    font-weight: 100;
    margin-top: 1rem;
    position: relative;
}

    .cart-item .title[b-lzsm48tmjj] {
        font-weight: 700;
    }

        .cart-item .title span[b-lzsm48tmjj]:after {
            content: ' cm';
        }

    .cart-item ul[b-lzsm48tmjj] {
        padding: 0;
        margin: 0.4rem 0.6rem;
    }

    .cart-item li[b-lzsm48tmjj] {
        list-style-type: none;
        margin-left: 0rem;
        font-size: 0.8rem;
    }

.delete-item[b-lzsm48tmjj] {
    position: absolute;
    top: 0;
    right: 0;
    content: 'X';
    cursor: pointer;
    color: #fff2cc;
    width: 2rem;
    height: 2rem;
    text-align: center;
    text-decoration: none;
}

    .delete-item:hover[b-lzsm48tmjj] {        
        color: #fff2cc;
        background-color: rgba(255,255,255,0.1);
    }

.item-price[b-lzsm48tmjj] {
    font-weight: 500;
}


/* _content/BlazingPizza.Razor.Views/Components/ConfiguredPizzas.razor.rz.scp.css */
.sidebar[b-9x99wu5fty] {
    background-color: #2b2b2b;
    width: 20rem;
    display: flex;
    flex-direction: column;
    color: white;
}

.order-contents[b-9x99wu5fty] {
    overflow-y: auto;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    flex-grow: 1;
}

    .order-contents h2[b-9x99wu5fty] {
        color: #fff2cc;
        font-size: 1.3rem;
        font-weight: 300;
        margin-bottom: 1rem;
        font-family: 'Bahnschrift', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }

.empty-cart[b-9x99wu5fty] {
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
    font-weight: 100;
    color: #676767;
}

.order-total-container[b-9x99wu5fty] {
    height: 4rem;
}

.order-total[b-9x99wu5fty] {
    background-color: rgb(191, 52, 52);
    height: 4rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    padding: 0 1.5rem;
    overflow: hidden;
    max-height: 4rem;
}

    .order-total.hidden[b-9x99wu5fty] {
        transform: translate3d(0, 4rem, 0);
        max-height: 0;
    }

    .order-total .total-price[b-9x99wu5fty] {
        font-weight: 700;
        font-size: 1.5rem;
    }

    .order-total .btn[b-9x99wu5fty] {
        margin-left: auto;
        font-weight: 700;
        border-radius: 20px;
        padding: 0.4rem 1.2rem;
    }
/* _content/BlazingPizza.Razor.Views/Components/ConfigurePizzaDialog.razor.rz.scp.css */

.dialog-title[b-muitzsm2zu] {
    background-color: #444;
    color: #fff2cc;
    padding: 1.3rem 2rem;
}

    .dialog-title h2[b-muitzsm2zu] {
        color: white;
        font-size: 1.4rem;
        margin: 0;
        font-family: 'Bahnschrift', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        line-height: 1.3rem;
    }

.dialog-body[b-muitzsm2zu] {
    width: 100%;
    flex-grow: 1;
    padding: 1rem;
}


.dialog-buttons[b-muitzsm2zu] {
    height: 4rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    padding: 0 1rem;
}

.price[b-muitzsm2zu] {
    font-weight: 700;
    font-size: 1.5rem;
}


/* dialog-body items styles */

.dialog-body > div[b-muitzsm2zu] {
    display: flex;
    margin-top: 1rem;
    align-items: center;
}

.dialog-body label[b-muitzsm2zu] {
    text-align: right;   
    margin: 0 0.5rem 0 0;
}

.dialog-body input[b-muitzsm2zu] {
    flex-grow: 1;
    width: unset;
}

.dialog-body .size-label[b-muitzsm2zu] {
    margin: 0 0 0 0.5rem;
    text-align: left;
}

input[type=range][b-muitzsm2zu] {
    -webkit-appearance: none;
    margin: 7.1px 5px;
    height: 21px;
}

    input[type=range]:focus[b-muitzsm2zu] {
        outline: none;
    }

    input[type=range][b-muitzsm2zu]::-webkit-slider-runnable-track {
        width: 100%;
        height: 5.8px;
        cursor: pointer;
        box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
        background: #dcdcdc;
        border-radius: 1.3px;
        border: 0px solid #010101;
    }

    input[type=range][b-muitzsm2zu]::-webkit-slider-thumb {
        box-shadow: 0.9px 0.9px 1px rgba(0, 0, 49, 0.43), 0px 0px 0.9px rgba(0, 0, 75, 0.43);
        border: 0px solid #00001e;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background: #d45352;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -7.1px;
    }

    input[type=range]:focus[b-muitzsm2zu]::-webkit-slider-runnable-track {
        background: #e1e1e1;
    }

    input[type=range][b-muitzsm2zu]::-moz-range-track {
        width: 100%;
        height: 5.8px;
        cursor: pointer;
        box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
        background: #dcdcdc;
        border-radius: 1.3px;
        border: 0px solid #010101;
    }

    input[type=range][b-muitzsm2zu]::-moz-range-thumb {
        box-shadow: 0.9px 0.9px 1px rgba(0, 0, 49, 0.43), 0px 0px 0.9px rgba(0, 0, 75, 0.43);
        border: 0px solid #00001e;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background: #d45352;
        cursor: pointer;
    }

    input[type=range][b-muitzsm2zu]::-ms-track {
        width: 100%;
        height: 5.8px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    input[type=range][b-muitzsm2zu]::-ms-fill-lower {
        background: #d7d7d7;
        border: 0px solid #010101;
        border-radius: 2.6px;
        box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
    }

    input[type=range][b-muitzsm2zu]::-ms-fill-upper {
        background: #dcdcdc;
        border: 0px solid #010101;
        border-radius: 2.6px;
        box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
    }

    input[type=range][b-muitzsm2zu]::-ms-thumb {
        box-shadow: 0.9px 0.9px 1px rgba(0, 0, 49, 0.43), 0px 0px 0.9px rgba(0, 0, 75, 0.43);
        border: 0px solid #00001e;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background: #d45352;
        cursor: pointer;
        margin-top: 0;
    }


/* Toppings styles */
.dialog .toppings[b-muitzsm2zu] {
    text-align: center;
    display: block;
    padding-left: 4rem;
}

.dialog .topping[b-muitzsm2zu] {
    display: inline-block;
    background-color: #a04343;
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 2rem;
    margin: 0.4rem 0.3rem;
    font-weight: 700;
}

.dialog .topping-price[b-muitzsm2zu] {
    font-weight: 100;
    font-size: 0.8rem;
}

.delete-topping[b-muitzsm2zu] {
    background: none;
    border: none;
    color: white;
    padding: 0.2rem 0.2rem 0.3rem 0.2rem;
    cursor: pointer;
}

    .delete-topping:hover[b-muitzsm2zu] {
        color: yellow;
    }
/* _content/BlazingPizza.Razor.Views/Components/OrderReview.razor.rz.scp.css */
li[b-jht11q0xmx]{
    list-style-type:none;
}
/* _content/BlazingPizza.Razor.Views/Components/Specials.razor.rz.scp.css */
.main[b-y3fofcs6c1] {
    flex-grow: 1;
    overflow-y: auto;
    background: linear-gradient(rgba(0,0,0,0) 40%, rgba(0,0,0,0.4) 80%);
    padding: 1.5rem !important;
}

.pizza-cards[b-y3fofcs6c1] {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20rem);
    grid-gap: 2rem;
    justify-content: center;
    padding-left: 0;
}

    .pizza-cards > li[b-y3fofcs6c1] {
        height: 10rem;
        position: relative;
        background-size: cover;
        border-radius: 0.5rem;
        list-style-type: none;
        box-shadow: 0 3px 4px rgba(0,0,0,0.4);
        transition: 0.1s ease-out;
    }

        .pizza-cards > li:hover[b-y3fofcs6c1] {
            transform: scale(1.02);
        }

.pizza-info[b-y3fofcs6c1] {
    border-radius: 0.5rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.7) 30%, rgba(0,0,0,0) 80%);
    padding: 1rem 1rem;
    color: #fff2cc;
    cursor: pointer;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
    line-height: 1.25rem;
}

    .pizza-info .title[b-y3fofcs6c1] {
        color: white;
        font-size: 1.4rem;
        display: block;
        margin: 0.2rem 0 0.4rem 0;
        font-family: 'Bahnschrift', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }

    .pizza-info .price[b-y3fofcs6c1] {
        position: absolute;
        bottom: 0.5rem;
        right: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 0rem 0.7rem;
        border-radius: 4px;
        background-color: #08af08;
        color: white;
        line-height: 2rem;
    }

/* _content/BlazingPizza.Razor.Views/Components/TopBar.razor.rz.scp.css */
.top-bar[b-3opn27ax36] {
    height: 5rem;
    background-color: rgb(192,0,0);
    background-image: linear-gradient(rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.25) 25%, rgba(0,0,0,0) 70%);
    display: flex;
    align-items: stretch;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    padding: 0 3rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.logo[b-3opn27ax36] {
    display: flex;
}

    .logo > img[b-3opn27ax36] {
        margin-right: 3rem;
        width: 9rem;
    }

[b-3opn27ax36] .nav-tab {
    margin: 0;
    padding: 0.3rem 1.8rem;
    display: inline-block;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    color: white;
    position: relative;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}

    [b-3opn27ax36] .nav-tab:hover {
        color: white;
        text-decoration: none;
        background-color: rgba(255,255,255,0.3);
    }

    [b-3opn27ax36] .nav-tab.active {
        background-color: rgba(255,255,255,0.2);
        color: #fff2cc;
    }

    [b-3opn27ax36] .nav-tab img {
        height: 2rem;
        margin-bottom: 0.25rem;
    }

    [b-3opn27ax36] .nav-tab.active img {
        filter: brightness(0) saturate(100%) invert(93%) sepia(18%) saturate(797%) hue-rotate(316deg) brightness(109%) contrast(101%);
    }

    [b-3opn27ax36] .nav-tab.active:after {
        content: "";
        position: absolute;
        bottom: -1rem;
        z-index: 1;
        width: 0px;
        height: 0px;
        border-left: 0.6rem solid transparent;
        border-right: 0.6rem solid transparent;
        border-top: 1rem solid rgb(205,51,51);
    }
/* _content/BlazingPizza.Razor.Views/Pages/Checkout.razor.rz.scp.css */
.main[b-r53oxk10ay] {
    flex-grow: 1;
    overflow-y: auto;
    background: linear-gradient(rgba(0,0,0,0) 40%, rgba(0,0,0,0.4) 80%);
    padding: 1.5rem !important;
}
.checkout-cols[b-r53oxk10ay] {
    display: flex;
}

    .checkout-cols h4[b-r53oxk10ay] {
        margin-bottom: 1.5rem;
    }

    .checkout-cols > div[b-r53oxk10ay] {
        flex: 1;
        margin: 1rem;
        border: 1px solid #ddd;
        background: rgba(255,255,255,0.3);
        padding: 1.25rem 1rem;
    }

        .checkout-cols > div:first-child[b-r53oxk10ay] {
            margin-left: 0;
        }

        .checkout-cols > div:last-child[b-r53oxk10ay] {
            margin-right: 0;
        }

.checkout-button[b-r53oxk10ay] {
    margin: auto;
    display: block;
    font-weight: 700;
    border-radius: 20px;
    padding: 0.4rem 1.2rem;
}
/* _content/BlazingPizza.Razor.Views/Pages/OrderDetails.razor.rz.scp.css */
.main[b-0ob3k7p21z] {
    flex-grow: 1;
    overflow-y: auto;
    background: linear-gradient(rgba(0,0,0,0) 40%, rgba(0,0,0,0.4) 80%);
    padding: 1.5rem !important;
}

.track-order[b-0ob3k7p21z] {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    height: 100%;
    display: flex;
    flex-direction: column;
}

    .track-order > div[b-0ob3k7p21z] {
        overflow-y: hidden;
    }

.track-order-title[b-0ob3k7p21z] {
    background-color: #eee;
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
}

    .track-order-title h2[b-0ob3k7p21z] {
        color: #c03939;
        font-size: 1.3rem;
        font-weight: 300;
        margin: 0rem;
        font-family: 'Bahnschrift', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }

    .track-order-title p[b-0ob3k7p21z] {
        margin-left: auto;
        margin-bottom: 0;
    }

.track-order-body[b-0ob3k7p21z] {
    flex-grow: 1;
    display: flex;
}

.track-order-details[b-0ob3k7p21z] {
    overflow-y: auto;
    padding: 1.5rem 3rem;
    
}

.track-order-map[b-0ob3k7p21z]{
    height:100%;
    flex-grow:1;
}
/* _content/BlazingPizza.Razor.Views/Pages/Orders.razor.rz.scp.css */
.main[b-y3utwf8wbh] {
    flex-grow: 1;
    overflow-y: auto;
    background: linear-gradient(rgba(0,0,0,0) 40%, rgba(0,0,0,0.4) 80%);
    padding: 1.5rem !important;
}

.orders-list .list-group-item[b-y3utwf8wbh] {
    display: flex;
}

.orders-list .col[b-y3utwf8wbh] {
    margin: auto;
}

.orders-list h5[b-y3utwf8wbh] {
    color: #c03939;
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0.2rem 0 0 0;
    font-family: 'Bahnschrift', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
/* _content/BlazingPizza.Razor.Views/Shared/MainLayout.razor.rz.scp.css */
main[b-y6fhqvk117] {
    display: flex;
    height: 100%;
    z-index: 1;
    background-color: white;    
    padding-top:5rem;
    padding-bottom:2rem;
}

footer[b-y6fhqvk117] {
    background-color: rgb(192,0,0);
    background-image: linear-gradient(rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.25) 25%, rgba(0,0,0,0) 70%);
    height: 2rem;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
