@page "/orders"

<div class="main">
    <TemplatedList Loader="LoadOrders" ListGroupClass="orders-list">
        <Loading>Cargando...</Loading>
        <Empty>
            <h2>No se ha realizado alguna orden</h2>
            <a class="btn btn-success" href="">Ordena alguna pizza</a>
        </Empty>
        <Item Context="item">
            <div class="list-group-item">
                <div class="col">
                    <h5>@item.CreatedTime.ToLongDateString()</h5>
                    Pizzas:
                    <strong>@item.PizzasCount</strong>
                    Precio total:
                    <strong>@item.GetFormattedTotalPrice()</strong>
                </div>

                <div class="col">
                    Estado:
                    <strong>@item.Status.GetText()</strong>
                </div>
                <div class="col text-right">
                    @if (!item.IsDelivered)
                    {
                        <a href="orderdetails/@item.Id" class="btn btn-success">
                            Rastrear &gt;
                        </a>
                    }
                </div>

            </div>
        </Item>
    </TemplatedList>
</div>


