@typeparam TItem
@if(Items == null)
{
    @Loading
}
else if(Items.Count == 0)
{
    @Empty
}
else
{
    <div class="list-group @ListGroupClass">
        @foreach(TItem itemData in Items)
        {
            @Item(itemData)
        }
    </div>
}