.form-field-column {
    display:flex;
    flex-direction:column;
    margin: 0.5rem;
}

.form-field-column >label{
    width:auto;
}

.form-field-column > div{
    flex-grow:1;
}
.form-field-column input{
    width:100%;
}

